<div class="page home">
    {{> header }}

    <div class="modes">
        <div id="mode_list" class="mode mode__list col-mobile-4 col-tablet-4 col-desktop-4 mode__active">Chats</div>
    </div>

    <div class="wrapper__home col-mobile-12 col-l-mobile-12 col-s-tablet-12 col-tablet-12 col-desktop-12">
        <div class="container__chat col-mobile-12 col-l-mobile-7 col-s-tablet-7 col-tablet-8 col-desktop-8"></div>
    </div>
</div>