<div id="menu" class="menu">
    <div class="menu__items">
        <div class="menu__item menu__item--logo">Logo</div>
        <div class="menu__item menu__item--image">Profile image</div>

        <div class="menu__item menu__item--profilesetting">Profile Setting</div>
        <div class="menu__item menu__item--signout">Sign Out</div>
    </div>
</div>