<div class="form__home">
    <p class="text__BoldGreen ">Upload a new Home</p>
    <input type="text" id="home_address" placeholder="Address" value="Gentsstraat 12" />
    <input type="number" id="home_price" placeholder="Price" value="500" />
    <input type="text" id="home_insurance_price" placeholder="Insurance Price" value="1000" />
    <input type="text" id="home_description" placeholder="Description" value="some random text" />
    <input type="number" id="home_floor" placeholder="Floor" value="2" />
    <input type="number" id="home_max_tenant" placeholder="Max tenant" value="1" />
    <input type="text" id="home_furnitured" placeholder="Furnitured: Yes or No" value="Yes" />
    <input type="text" id="home_image_link" placeholder="Image Link" value="www.imagelink.com" />
    <input type="number" id="home_total_rooms" placeholder="Total rooms" value="5" />
    <input type="number" id="home_size" placeholder="Size in: m²" value="10" />
    <div class="form__home--select">
        <div class="select">
            <p>Toilet</p>
            <select name="" id="home_toilet">
                <option value="Private">Private</option>
                <option value="Shared">Shared</option>
                <option value="Nothing">Not Available</option>
            </select>
        </div>
        <div class="select">
            <p>Shower</p>
            <select name="" id="home_shower">
                <option value="Private">Private</option>
                <option value="Shared">Shared</option>
                <option value="Nothing">Not Available</option>
            </select>
        </div>
        <div class="select">
            <p>Bath</p>
            <select name="" id="home_bath">
                <option value="Private">Private</option>
                <option value="Shared">Shared</option>
                <option value="Nothing">Not Available</option>
            </select>
        </div>

        <div class="select">
            <p>Kitchen</p>
            <select name="" id="home_kitchen">
                <option value="Private">Private</option>
                <option value="Shared">Shared</option>
                <option value="Nothing">Not Available</option>
            </select>
        </div>
        <div class="select">
            <p>Type</p>
            <select name="" id="home_type">
                <option value="Room">Room</option>
                <option value="Studio">Studio</option>
                <option value="Apartment">Apartment</option>
            </select>
        </div>
    </div>