<div class="page home">
    {{> header }}

    <div class="modes">
        <div id="mode_rate" class="mode mode__rate col-mobile-4 col-tablet-4 col-desktop-4 mode__active">Rate</div>
        <div id="mode_map" class="mode mode__map col-mobile-4 col-tablet-4 col-desktop-4">Map</div>
        <div id="mode_list" class="mode mode__list col-mobile-4 col-tablet-4 col-desktop-4">List</div>
    </div>

    <div class="wrapper__home">

        <div class="mode--content mode__rate--content">
            <div class="home__content">

                <div class="home__address"></div>
                <div id="home_image" class="home__image">
                    {{!-- <img src='../assets/images/home_banner.jpeg'> --}}
                </div>
                <div class="home__price__distance">
                    <div class="home__price"></div>
                    <div class="home__distance"></div>
                </div>
                <div class="home__rate">
                    <div class="rate rate__dislike">
                        <div class="minus"></div>
                    </div>
                    <div class="rate rate__like">
                        <div class="favorite"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mode--content mode__map--content">
            <div class="filter__map">
                <label for="type">Type:</label>
                <select name="type" id="select_type">

                    <option value="none">None</option>
                    <option value="room">Room</option>
                    <option value="studio">Studio</option>
                    <option value="appartment">Appartment</option>
                </select>

                <div class="filter__options" id="filter_options">
                    <div class="options">
                        <div id="filter_price">Price: min 350 max 450</div>
                        <div id="filter_size">Size: min 350 max 450</div>
                        <div id="filter_distance">Distance: max 2 KM</div>
                    </div>
                    <div id="btn_filter" class="btn__filter">Filter Options</div>
                </div>

            </div>
            <div class="container__ranges">
                <div id="select_price" class="select">
                    <div>Select Price</div>
                    Max: <input type="range" min="100" max="2000" value="200" class="slider" id="range_price_min">
                    Max: <input type="range" min="100" max="2000" value="600" class="slider" id="range_price_max">
                </div>

                <div id="select_size" class="select">
                    <div>Select Size</div>
                    Min: <input type="range" min="1" max="300" value="10" class="slider" id="range_size_min">
                    Max: <input type="range" min="1" max="300" value="40" class="slider" id="range_size_max">
                </div>

                <div id="select_distance" class="select">
                    <div>Select Max Distance</div>
                    Min: <input type="range" min="1" max="20" value="10" class="slider" id="range_distance_max">
                </div>
            </div>
            <div id="map" class="">

            </div>
        </div>


        <div id="mode__list--content" class="mode--content mode__list--content">

            <div class="home__list">
                <div class="section__title">List your available home's</div>
                {{#each homes}}
                <div class="home__list--item">
                    <div class="home__list--item--street">{{this.addressCoordinate}} , 9000 Gent</div>
                    <div class="home__list--item--image">{{this.addressCoordinate}}</div>
                    <div class="home__list--item--info--s">
                        <div class="info__s--price">{{this.rentPrice}} EURO</div>
                        <div class="info__s--size">{{this.size}} m²</div>
                    </div>
                    <div class="student__control">
                        <div id="btnAddFavorite" class="btn__addfavorite button button-yellow">Add Favorite</div>
                        <div id="btnViewHome" class="btn__viewhome button button-blue">View Home</div>
                    </div>
                </div>
                <br>
                <hr>
                {{/each}}



            </div>
        </div>
    </div>
</div>