<div class="page home">

  <div class="body">
    {{!-- This is Home page.<br>
    Go to <a href="/about" data-navigo>About page</a><br />
    Go to <a href="/firebase" datap-navigo>Firebase example page</a><br />
    Go to <a href="/mapbox" data-navigo>Mapbox example page</a><br />
    Go to <a href="/testPage" data-navigo>TEST PAGE</a><br /> --}}



    <div class="wrapper">
      <div class="form__signin">
        <div class="home__logo--L"></div>

        <div id="btnSignInGoogle" class="google__signin">
        </div>
        <input class="signin__email form__input" id="signin_email" type="text" placeholder="E-mail" value="n@gmail.com">
        <input class="signin__password form__input" id="signin_password" type="password" placeholder="Password" value="123456">
        <div class="signin__btn btn" id="btnSignIn">Sign In</div>
        <div id="signin_error"></div>
        <div class="forgot_password">Forgot Password?</div>

      </div>
      <div class="register__btn btn" id="btnRegister"><a href="/register" data-navigo> Register</a></div>

      <div class="responsive col-mobile-12 col-tablet-6 col-desktop-3"></div>
      <div class="responsive2 col-mobile-12 col-tablet-6 col-desktop-3"></div>
    </div>
  </div>
</div>