.home__logo--L
    margin-top: 120px
    margin-bottom: 50px
    width: 325px
    height: 125px
    background-image: url('../assets/images/logo.png')
    /* Full height */    
    /* Center and scale the image nicely */
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.home__logo--M
    margin: 20px 150px
    width: 200px
    height: 75px
    background-image: url('../assets/images/logo.png')
    /* Full height */    
    /* Center and scale the image nicely */
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.home__logo--S

    width: 160px
    height: 50px
    background-image: url('../assets/images/logo.png')
    /* Full height */    
    /* Center and scale the image nicely */
    background-position: center
    background-repeat: no-repeat
    background-size: cover