@import "../../node_modules/mapbox-gl/dist/mapbox-gl.css"

@import "./config"
@import "./functions"
// Generic styling
body
    font-size: 18px
    margin: 0 auto
    background: #fefefe
    height: 100vh
    display: flex
    justify-content: center
    flex-wrap: wrap
    align-items: center
    background-image: url('../assets/images/bg_desktop.png')
    /* Full height */
    
    /* Center and scale the image nicely */
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    
    #app
        width: $appWidth
        height: $appHeight
        position: relative
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
        
        display: flex
        justify-content: center
       
    #map
        top: 0
        bottom: 0
        width: 100%
        @include getRestOfHeight(230)
        text-align: initial
        margin: 0 auto

a
    text-decoration: none


    


// general


@import "./colors"
@import "./fonts"

@import "./page"
@import "./header"
@import "./footer"

// pages
@import "./responsive"
@import "./about"
@import "./logo"
@import "./start"
@import "./register"
@import "./home"

