<section class="header">
    <div id="logo" class="home__logo--S"></div>

    <div class="container__menu">
        <div id="chat"><a href="#/chat" data-navigo><i class="fas fa-envelope"></i></a></div>
        <div id="menu_bars" class="menu__bars">

            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>

        </div>
    </div>

    <div id="menu" class="menu">
        <div class="menu__items">
            <div class="menu__item">
                <div class="home__logo--blue--M"></div>
            </div>
            <div class="menu__item">
                <div class="menu__item--profile--image"></div>
            </div>

            <div class="menu__item menu__item--profilesetting">Profile Setting</div>
            <div id="btnSignOut" class="menu__item menu__item--signout"><a href="/">Sign Out</a></div>
            <div id="currentUserName" class="menu__item menu__item--username"></div>
        </div>
    </div>


</section>