<section class="header">
    <div class="home__logo--S"></div>

    <div class="menu__bars">

        <div class="bar bar1"></div>
        <div class="bar bar2"></div>
        <div class="bar bar3"></div>

    </div>
</section>